= f.association :recipient, label_method: :email, value_method: :id
/= f.select :recipient_id, User.collect{|e| [e.email, e.id]}, {}, class: 'form-control'

/ = debug options_for_select(User.all.map({|e| [e.email, e.id]})

= f.input :subject

= f.input :message, as: :text

= f.submit "Send Message", class: "btn btn-primary btn-block"