.container.row
	%h3 SnapChat! Messages Home
	%form.form-inline.pull-xs-right	
		= form_tag :controller => 'messages', :action => 'index', :method => 'get' do
			%p
				= text_field_tag :search, params[:search]
				%button.btn.btn-success-outline{:type => "submit"} Search