%h1 Users Index
- @users.each do |user|
	.card
		%a{:href => "/users/#{user.id}"} #{user.username} 
		= link_to "Add Friend", friendships_path(friend_id: @user), method: :post, class: "btn btn-success" #(friend_id: user)
		= link_to "Send a Message", new_message_path, class: "btn btn-success"